<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.ninthArmyUnit.home.title">Ninth Army Units</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-ninth-army-unit"
      [routerLink]="['/entities/ninth-army-unit/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.ninthArmyUnit.home.createLabel">
        Create a new Ninth Army Unit
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ninthArmyUnits?.length === 0">
    <span jhiTranslate="n42cApp.ninthArmyUnit.home.notFound">No ninthArmyUnits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ninthArmyUnits && ninthArmyUnits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnit.selectableKeywords">Selectable Keywords</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnit.army">Army</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnit.unit">Unit</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ninthArmyUnit of ninthArmyUnits; trackBy: trackId">
          <td>
            <a [routerLink]="['/entities/ninth-army-unit', ninthArmyUnit.id, 'view']">{{ ninthArmyUnit.id }}</a>
          </td>
          <td>{{ ninthArmyUnit.selectableKeywords }}</td>
          <td>
            <div *ngIf="ninthArmyUnit.army">
              <a [routerLink]="['/entities/ninth-army', ninthArmyUnit.army?.id, 'view']">{{ ninthArmyUnit.army?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ninthArmyUnit.unit">
              <a [routerLink]="['/entities/ninth-unit', ninthArmyUnit.unit?.id, 'view']">{{ ninthArmyUnit.unit?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/entities/ninth-army-unit', ninthArmyUnit.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/entities/ninth-army-unit', ninthArmyUnit.id, 'edit']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ninthArmyUnit)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
