<div class="row justify-content-center">
    <div class="col-12">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ninth-army-unit-heading" jhiTranslate="n42cApp.ninthArmyUnit.home.createOrEditLabel">Create or
                edit a Ninth Army Unit</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_selectableKeywords"
                           jhiTranslate="n42cApp.ninthArmyUnit.selectableKeywords"
                    >Selectable Keywords</label
                    >
                    <input
                        class="form-control"
                        formControlName="selectableKeywords"
                        id="field_selectableKeywords"
                        name="selectableKeywords"
                        type="text"
                    />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_army"
                           jhiTranslate="n42cApp.ninthArmyUnit.army">Army</label>
                    <select class="form-control" formControlName="army" id="field_army" name="army">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let ninthArmyOption of nintharmies; trackBy: trackById"
                            [ngValue]="ninthArmyOption.id === editForm.get('army')!.value?.id ? editForm.get('army')!.value : ninthArmyOption"
                        >{{ ninthArmyOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_unit"
                           jhiTranslate="n42cApp.ninthArmyUnit.unit">Unit</label>
                    <select class="form-control" formControlName="unit" id="field_unit" name="unit">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let ninthUnitOption of ninthunits; trackBy: trackById"
                            [ngValue]="ninthUnitOption.id === editForm.get('unit')!.value?.id ? editForm.get('unit')!.value : ninthUnitOption"
                        >{{ ninthUnitOption.id }}</option
                        >
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
