<div>
    <h2 id="page-heading">
        <span jhiTranslate="n42cApp.player.home.title">Players</span>

        <button
            [routerLink]="['/entities/player/new']"
            class="btn btn-primary float-right jh-create-entity create-player"
            id="jh-create-entity"
        >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="n42cApp.player.home.createLabel">
        Create a new Player
      </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="players?.length === 0" class="alert alert-warning" id="no-result">
        <span jhiTranslate="n42cApp.player.home.notFound">No players found</span>
    </div>

    <div *ngIf="players && players.length > 0" class="table-responsive" id="entities">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="ascending" [(predicate)]="predicate" [callback]="loadPage.bind(this)" jhiSort>
                <th jhiSortBy="id" scope="col"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="name" scope="col"><span jhiTranslate="n42cApp.player.name">Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="appUser.displayedName" scope="col">
                    <span jhiTranslate="n42cApp.player.appUser">App User</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players; trackBy: trackId">
                <td>
                    <a [routerLink]="['/entities', 'player', player.id, 'view']">{{ player.id }}</a>
                </td>
                <td>{{ player.name }}</td>
                <td>
                    <div *ngIf="player.appUser">
                        <a [routerLink]="['/entities', 'app-user', player.appUser?.id, 'view']">{{ player.appUser?.displayedName }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/entities', 'player', player.id, 'view']" class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button [routerLink]="['/entities', 'player', player.id, 'edit']" class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button (click)="delete(player)" class="btn btn-danger btn-sm" type="submit">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="players && players.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination
                (pageChange)="loadPage($event)"
                [(page)]="ngbPaginationPage"
                [boundaryLinks]="true"
                [collectionSize]="totalItems"
                [maxSize]="5"
                [pageSize]="itemsPerPage"
                [rotate]="true"
            ></ngb-pagination>
        </div>
    </div>
</div>
