<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-player-heading" jhiTranslate="n42cApp.player.home.createOrEditLabel">Create or edit a
                Player</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.player.help.name' | translate"
                        class="form-control-label"
                        for="field_name"
                        jhiTranslate="n42cApp.player.name"
                    >Name</label
                    >
                    <input class="form-control" formControlName="name" id="field_name" name="name" type="text"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small *ngIf="editForm.get('name')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_appUser" jhiTranslate="n42cApp.player.appUser">App
                        User</label>
                    <select class="form-control" formControlName="appUser" id="field_appUser" name="appUser">
                        <option *ngIf="!editForm.get('appUser')!.value" [ngValue]="null" selected></option>
                        <option
                            *ngFor="let appUserOption of appusers; trackBy: trackById"
                            [ngValue]="appUserOption.id === editForm.get('appUser')!.value?.id ? editForm.get('appUser')!.value : appUserOption"
                        >{{ appUserOption.displayedName }}</option
                        >
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('appUser')!.invalid && (editForm.get('appUser')!.dirty || editForm.get('appUser')!.touched)">
                    <small *ngIf="editForm.get('appUser')?.errors?.required" class="form-text text-danger"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
