<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ninth-mission-heading" jhiTranslate="n42CApp.ninthMission.home.createOrEditLabel">Create or edit a Ninth Mission</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthMission.gameType" for="field_gameType">Game Type</label>
                    <select class="form-control" name="gameType" formControlName="gameType" id="field_gameType">
                        <option value="OP">{{ 'n42CApp.NinthGameType.OP' | translate }}</option>
                        <option value="MP">{{ 'n42CApp.NinthGameType.MP' | translate }}</option>
                        <option value="CR">{{ 'n42CApp.NinthGameType.CR' | translate }}</option>
                        <option value="NG">{{ 'n42CApp.NinthGameType.NG' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthMission.gameSize" for="field_gameSize">Game Size</label>
                    <select class="form-control" name="gameSize" formControlName="gameSize" id="field_gameSize">
                        <option value="CP">{{ 'n42CApp.NinthGameSize.CP' | translate }}</option>
                        <option value="IN">{{ 'n42CApp.NinthGameSize.IN' | translate }}</option>
                        <option value="SF">{{ 'n42CApp.NinthGameSize.SF' | translate }}</option>
                        <option value="ON">{{ 'n42CApp.NinthGameSize.ON' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthMission.shareable" for="field_shareable">Shareable</label>
                    <input type="checkbox" class="form-control" name="shareable" id="field_shareable"
                           formControlName="shareable"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="n42CApp.ninthMission.missionStratagems" for="field_missionStratagems">Mission Stratagems</label>
                    <select class="form-control" id="field_missionStratagems" multiple name="missionStratagems" formControlName="missionStratagems">
                        <option [ngValue]="getSelected(editForm.get('missionStratagems')!.value, ninthStratagemGroupOption)" *ngFor="let ninthStratagemGroupOption of ninthstratagemgroups; trackBy: trackById">{{ ninthStratagemGroupOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="n42CApp.ninthMission.primaryObjectives" for="field_primaryObjectives">Primary Objectives</label>
                    <select class="form-control" id="field_primaryObjectives" multiple name="primaryObjectives" formControlName="primaryObjectives">
                        <option [ngValue]="getSelected(editForm.get('primaryObjectives')!.value, ninthObjectiveOption)" *ngFor="let ninthObjectiveOption of ninthobjectives; trackBy: trackById">{{ ninthObjectiveOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="n42CApp.ninthMission.allowedSecondaries" for="field_allowedSecondaries">Allowed Secondaries</label>
                    <select class="form-control" id="field_allowedSecondaries" multiple name="allowedSecondaries" formControlName="allowedSecondaries">
                        <option [ngValue]="getSelected(editForm.get('allowedSecondaries')!.value, ninthObjectiveOption)" *ngFor="let ninthObjectiveOption of ninthobjectives; trackBy: trackById">{{ ninthObjectiveOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="n42CApp.ninthMission.rules" for="field_rules">Rules</label>
                    <select class="form-control" id="field_rules" multiple name="rules" formControlName="rules">
                        <option [ngValue]="getSelected(editForm.get('rules')!.value, ninthMissionRuleOption)" *ngFor="let ninthMissionRuleOption of ninthmissionrules; trackBy: trackById">{{ ninthMissionRuleOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
