<div class="row justify-content-center">
    <div class="col-12">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ninth-mission-heading" jhiTranslate="n42cApp.ninthMission.home.createOrEditLabel">Create or edit
                a Ninth Mission</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gameType" jhiTranslate="n42cApp.ninthMission.gameType">Game
                        Type</label>
                    <select class="form-control" formControlName="gameType" id="field_gameType" name="gameType">
                        <option value="OP">{{ 'n42cApp.NinthGameType.OP' | translate }}</option>
                        <option value="MP">{{ 'n42cApp.NinthGameType.MP' | translate }}</option>
                        <option value="CR">{{ 'n42cApp.NinthGameType.CR' | translate }}</option>
                        <option value="NG">{{ 'n42cApp.NinthGameType.NG' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gameSize" jhiTranslate="n42cApp.ninthMission.gameSize">Game
                        Size</label>
                    <select class="form-control" formControlName="gameSize" id="field_gameSize" name="gameSize">
                        <option value="CP">{{ 'n42cApp.NinthGameSize.CP' | translate }}</option>
                        <option value="IN">{{ 'n42cApp.NinthGameSize.IN' | translate }}</option>
                        <option value="SF">{{ 'n42cApp.NinthGameSize.SF' | translate }}</option>
                        <option value="ON">{{ 'n42cApp.NinthGameSize.ON' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shareable"
                           jhiTranslate="n42cApp.ninthMission.shareable">Shareable</label>
                    <input class="form-control" formControlName="shareable" id="field_shareable" name="shareable"
                           type="checkbox"/>
                </div>

                <div class="form-group">
                    <label for="field_missionStratagems" jhiTranslate="n42cApp.ninthMission.missionStratagems">Mission
                        Stratagems</label>
                    <select class="form-control" formControlName="missionStratagems" id="field_missionStratagems" multiple
                            name="missionStratagems">
                        <option
                            *ngFor="let ninthStratagemGroupOption of ninthstratagemgroups; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('missionStratagems')!.value, ninthStratagemGroupOption)"
                        >{{ ninthStratagemGroupOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_primaryObjectives" jhiTranslate="n42cApp.ninthMission.primaryObjectives">Primary
                        Objectives</label>
                    <select class="form-control" formControlName="primaryObjectives" id="field_primaryObjectives" multiple
                            name="primaryObjectives">
                        <option
                            *ngFor="let ninthObjectiveOption of ninthobjectives; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('primaryObjectives')!.value, ninthObjectiveOption)"
                        >{{ ninthObjectiveOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_allowedSecondaries" jhiTranslate="n42cApp.ninthMission.allowedSecondaries">Allowed
                        Secondaries</label>
                    <select
                        class="form-control"
                        formControlName="allowedSecondaries"
                        id="field_allowedSecondaries"
                        multiple
                        name="allowedSecondaries"
                    >
                        <option
                            *ngFor="let ninthObjectiveOption of ninthobjectives; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('allowedSecondaries')!.value, ninthObjectiveOption)"
                        >{{ ninthObjectiveOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_rules" jhiTranslate="n42cApp.ninthMission.rules">Rules</label>
                    <select class="form-control" formControlName="rules" id="field_rules" multiple name="rules">
                        <option
                            *ngFor="let ninthMissionRuleOption of ninthmissionrules; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('rules')!.value, ninthMissionRuleOption)"
                        >{{ ninthMissionRuleOption.id }}</option
                        >
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
