<div class="row justify-content-center">
  <div class="col-12">
    <div class="row">
      <h2 id="campaign-name" class="col-12">
        {{ campaignEditForm.get('name')?.value }}
      </h2>

      <div class="col-12 col-md-3">
        <form
          class="card"
          name="campaignEditForm"
          role="form"
          novalidate
          (ngSubmit)="saveCampaign()"
          [formGroup]="campaignEditForm"
          aria-labelledby="campaign-name"
        >
          <div class="card-body">
            <h3 class="card-title">Général</h3>
            <div class="row">
              <div class="col-12">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!campaignEditForm.get('id')!.value" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                  <label for="id-campaign" jhiTranslate="global.field.id" [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate"
                    >ID</label
                  >
                  <input
                    *ngIf="isEditingCampaign"
                    type="text"
                    class="form-control"
                    id="id-campaign"
                    name="id-campaign"
                    formControlName="id"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate"
                    readonly
                  />
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate">
                    {{ campaignEditForm.get('id')?.value }}
                  </p>
                </div>

                <div class="form-group">
                  <label
                    class="form-control-label"
                    jhiTranslate="n42cApp.ninthCampaign.name"
                    for="field_name-campaign"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate"
                    >Name</label
                  >
                  <input
                    *ngIf="isEditingCampaign"
                    type="text"
                    class="form-control"
                    name="name-campaign"
                    id="field_name-campaign"
                    formControlName="name"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate"
                  />
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate">
                    {{ campaignEditForm.get('name')?.value }}
                  </p>
                  <div
                    *ngIf="
                      campaignEditForm.get('name')!.invalid &&
                      (campaignEditForm.get('name')!.dirty || campaignEditForm.get('name')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="campaignEditForm.get('name')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="form-control-label"
                    jhiTranslate="n42cApp.ninthCampaign.gameType"
                    for="field_gameType"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate"
                    >Game Type</label
                  >
                  <select
                    *ngIf="isEditingCampaign"
                    class="form-control"
                    name="gameType"
                    formControlName="gameType"
                    id="field_gameType"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate"
                  >
                    <option value="OP">{{ 'n42cApp.NinthGameType.OP' | translate }}</option>
                    <option value="MP">{{ 'n42cApp.NinthGameType.MP' | translate }}</option>
                    <option value="CR">{{ 'n42cApp.NinthGameType.CR' | translate }}</option>
                    <option value="NG">{{ 'n42cApp.NinthGameType.NG' | translate }}</option>
                  </select>
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate">
                    {{ getGameTypeTranslationPath(campaignEditForm.get('gameType')?.value) | translate }}
                  </p>
                  <div
                    *ngIf="
                      campaignEditForm.get('gameType')!.invalid &&
                      (campaignEditForm.get('gameType')!.dirty || campaignEditForm.get('gameType')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="campaignEditForm.get('gameType')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="form-control-label"
                    jhiTranslate="n42cApp.ninthCampaign.usePowerRating"
                    for="field_usePowerRating"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate"
                    >Use Power Rating</label
                  >
                  <input
                    *ngIf="isEditingCampaign"
                    type="checkbox"
                    class="form-control"
                    name="usePowerRating"
                    id="field_usePowerRating"
                    formControlName="usePowerRating"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate"
                  />
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate">
                    {{ 'entity.bool.' + campaignEditForm.get('usePowerRating')?.value | translate }}
                  </p>
                  <div
                    *ngIf="
                      campaignEditForm.get('usePowerRating')!.invalid &&
                      (campaignEditForm.get('usePowerRating')!.dirty || campaignEditForm.get('usePowerRating')!.touched)
                    "
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="campaignEditForm.get('usePowerRating')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    jhiTranslate="n42cApp.ninthCampaign.authors"
                    for="field_authors"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate"
                    >Authors</label
                  >
                  <select
                    *ngIf="isEditingCampaign"
                    class="form-control"
                    id="field_authors"
                    multiple
                    name="authors"
                    formControlName="authors"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate"
                  >
                    <option
                      [ngValue]="getSelected(campaignEditForm.get('authors')!.value, playerOption)"
                      *ngFor="let playerOption of players; trackBy: trackById"
                      >{{ !!playerOption.appUser ? playerOption.appUser.displayedName : playerOption.id }}</option
                    >
                  </select>
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate">
                    <span *ngFor="let author of campaignEditForm.get('authors')?.value; let isLast = last">{{
                      (!!author.appUser ? author.appUser.displayedName : author.id) + (isLast ? '' : ', ')
                    }}</span>
                  </p>
                </div>

                <div class="form-group">
                  <label
                    jhiTranslate="n42cApp.ninthCampaign.participants"
                    for="field_participants"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate"
                    >Participants</label
                  >
                  <select
                    *ngIf="isEditingCampaign"
                    class="form-control"
                    id="field_participants"
                    multiple
                    name="participants"
                    formControlName="participants"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate"
                  >
                    <option
                      [ngValue]="getSelected(campaignEditForm.get('participants')!.value, playerOption)"
                      *ngFor="let playerOption of players; trackBy: trackById"
                      >{{ !!playerOption.appUser ? playerOption.appUser.displayedName : playerOption.id }}</option
                    >
                  </select>
                  <p *ngIf="!isEditingCampaign" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate">
                    <span *ngFor="let participant of campaignEditForm.get('participants')?.value; let isLast = last">{{
                      (!!participant.appUser ? participant.appUser.displayedName : participant.id) + (isLast ? '' : ', ')
                    }}</span>
                  </p>
                </div>

                <div class="form-group">
                  <label
                    jhiTranslate="n42cApp.ninthCampaign.campaignStratagems"
                    for="field_campaignStratagems"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate"
                    >Campaign Stratagems</label
                  >
                  <select
                    *ngIf="isEditingCampaign"
                    class="form-control"
                    id="field_campaignStratagems"
                    multiple
                    name="campaignStratagems"
                    formControlName="campaignStratagems"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate"
                  >
                    <option
                      [ngValue]="getSelected(campaignEditForm.get('campaignStratagems')!.value, ninthStratagemGroupOption)"
                      *ngFor="let ninthStratagemGroupOption of ninthstratagemgroups; trackBy: trackById"
                      >{{ ninthStratagemGroupOption.id }}</option
                    >
                  </select>
                  <p
                    *ngIf="!isEditingCampaign"
                    class="p-control"
                    [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate"
                  >
                    <span *ngFor="let ninthStratagemGroup of campaignEditForm.get('campaignStratagems')?.value; let isLast = last">{{
                      ninthStratagemGroup.id + (isLast ? '' : ', ')
                    }}</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button
                *ngIf="!isEditingCampaign"
                type="button"
                id="edit-entity-campaign"
                class="btn btn-primary"
                (click)="isEditingCampaign = !isEditingCampaign"
              >
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button *ngIf="isEditingCampaign" type="button" id="cancel-save-campaign" class="btn btn-secondary" (click)="cancel()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>

              <button
                *ngIf="isEditingCampaign"
                type="submit"
                id="save-entity-campaign"
                [disabled]="campaignEditForm.invalid || isSaving"
                class="btn btn-primary"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 col-md-9">
        <div class="card">
          <div class="card-body">
            <h2 id="moment-name" class="card-title">{{ getMomentName() }}</h2>
            <div class="row"></div>
            <div class="row justify-content-center">
              <div class="col-12">
                <form
                  name="momentEditForm"
                  role="form"
                  novalidate
                  (ngSubmit)="saveMoment()"
                  [formGroup]="momentEditForm"
                  aria-labelledby="moment-name"
                >
                  <div>
                    <jhi-alert-error></jhi-alert-error>

                    <div class="form-group" [hidden]="!momentEditForm.get('id')!.value" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                      <label for="id-moment" jhiTranslate="global.field.id" [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.id' | translate"
                        >ID</label
                      >
                      <input
                        *ngIf="isEditingMoment"
                        type="text"
                        class="form-control"
                        id="id-moment"
                        name="id-moment"
                        formControlName="id"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.id' | translate"
                        readonly
                      />
                      <p *ngIf="!isEditingMoment" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.id' | translate">
                        {{ momentEditForm.get('id')?.value }}
                      </p>
                    </div>

                    <div class="form-group">
                      <label
                        class="form-control-label"
                        jhiTranslate="n42cApp.ninthCampaignMoment.current"
                        for="field_current"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.current' | translate"
                        >Current</label
                      >
                      <input
                        *ngIf="isEditingMoment"
                        type="checkbox"
                        class="form-control"
                        name="current"
                        id="field_current"
                        formControlName="current"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.current' | translate"
                      />
                      <p *ngIf="!isEditingMoment" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.current' | translate">
                        {{ 'entity.bool.' + momentEditForm.get('current')?.value | translate }}
                      </p>
                      <div
                        *ngIf="
                          momentEditForm.get('current')!.invalid &&
                          (momentEditForm.get('current')!.dirty || momentEditForm.get('current')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="momentEditForm.get('current')?.errors?.required"
                          jhiTranslate="entity.validation.required"
                        >
                          This field is required.
                        </small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label
                        class="form-control-label"
                        jhiTranslate="n42cApp.ninthCampaignMoment.sinceInstant"
                        for="field_sinceInstant"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.sinceInstant' | translate"
                        >Since Instant</label
                      >
                      <div class="d-flex">
                        <input
                          *ngIf="isEditingMoment"
                          id="field_sinceInstant"
                          type="datetime-local"
                          class="form-control"
                          name="sinceInstant"
                          formControlName="sinceInstant"
                          placeholder="YYYY-MM-DD HH:mm"
                          [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.sinceInstant' | translate"
                        />
                        <p
                          *ngIf="!isEditingMoment"
                          class="p-control"
                          [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.sinceInstant' | translate"
                        >
                          {{ momentEditForm.get('current')?.value }}
                        </p>
                      </div>
                      <div
                        *ngIf="
                          momentEditForm.get('sinceInstant')!.invalid &&
                          (momentEditForm.get('sinceInstant')!.dirty || momentEditForm.get('sinceInstant')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="momentEditForm.get('sinceInstant')?.errors?.required"
                          jhiTranslate="entity.validation.required"
                        >
                          This field is required.
                        </small>
                        <small
                          class="form-text text-danger"
                          [hidden]="!momentEditForm.get('sinceInstant')?.errors?.ZonedDateTimelocal"
                          jhiTranslate="entity.validation.ZonedDateTimelocal"
                        >
                          This field should be a date and time.
                        </small>
                      </div>
                    </div>

                    <div class="form-group">
                      <label
                        class="form-control-label"
                        jhiTranslate="n42cApp.ninthCampaignMoment.name"
                        for="field_name-moment"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                        >Name</label
                      >
                      <input
                        *ngIf="isEditingMoment"
                        type="text"
                        class="form-control"
                        name="name-moment"
                        id="field_name-moment"
                        formControlName="name"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                      />
                      <p *ngIf="!isEditingMoment" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate">
                        {{ momentEditForm.get('name')?.value }}
                      </p>
                    </div>

                    <div class="form-group">
                      <label
                        class="form-control-label"
                        jhiTranslate="n42cApp.ninthCampaignMoment.summary"
                        for="field_summary"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.summary' | translate"
                        >Summary</label
                      >
                      <input
                        *ngIf="isEditingMoment"
                        type="text"
                        class="form-control"
                        name="summary"
                        id="field_summary"
                        formControlName="summary"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.summary' | translate"
                      />
                      />
                      <p *ngIf="!isEditingMoment" class="p-control" [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.summary' | translate">
                        {{ momentEditForm.get('summary')?.value }}
                      </p>
                    </div>

                    <div class="form-group">
                      <label
                        class="form-control-label"
                        jhiTranslate="n42cApp.ninthCampaignMoment.description"
                        for="field_description"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.description' | translate"
                        >Description</label
                      >
                      <textarea
                        *ngIf="isEditingMoment"
                        class="form-control"
                        name="description"
                        id="field_description"
                        formControlName="description"
                        rows="5"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.description' | translate"
                      ></textarea>
                      <p
                        *ngIf="!isEditingMoment"
                        class="p-control"
                        [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.description' | translate"
                      >
                        {{ momentEditForm.get('description')?.value }}
                      </p>
                    </div>
                  </div>

                  <div class="text-right">
                    <button
                      *ngIf="!isEditingMoment"
                      type="button"
                      id="edit-entity-moment"
                      class="btn btn-primary"
                      (click)="isEditingMoment = !isEditingMoment"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                    </button>

                    <button *ngIf="isEditingMoment" type="button" id="cancel-save-moment" class="btn btn-secondary" (click)="cancel(false)">
                      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button
                      *ngIf="isEditingMoment"
                      type="submit"
                      id="save-entity-moment"
                      [disabled]="campaignEditForm.invalid || isSaving"
                      class="btn btn-primary"
                    >
                      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
