<div class="row justify-content-center">
    <div class="col-12">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ninth-battle-heading" jhiTranslate="n42cApp.ninthBattle.home.createOrEditLabel">Create or edit a
                Ninth Battle</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name"
                           jhiTranslate="n42cApp.ninthBattle.name">Name</label>
                    <input class="form-control" formControlName="name" id="field_name" name="name" type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_resolved" jhiTranslate="n42cApp.ninthBattle.resolved">Resolved</label>
                    <input class="form-control" formControlName="resolved" id="field_resolved" name="resolved"
                           type="checkbox"/>
                    <div
                        *ngIf="editForm.get('resolved')!.invalid && (editForm.get('resolved')!.dirty || editForm.get('resolved')!.touched)">
                        <small
                            *ngIf="editForm.get('resolved')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_campaignMoment"
                           jhiTranslate="n42cApp.ninthBattle.campaignMoment"
                    >Campaign Moment</label
                    >
                    <select class="form-control" formControlName="campaignMoment" id="field_campaignMoment"
                            name="campaignMoment">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let ninthCampaignMomentOption of ninthcampaignmoments; trackBy: trackById"
                            [ngValue]="
                ninthCampaignMomentOption.id === editForm.get('campaignMoment')!.value?.id
                  ? editForm.get('campaignMoment')!.value
                  : ninthCampaignMomentOption
              "
                        >{{ ninthCampaignMomentOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mission" jhiTranslate="n42cApp.ninthBattle.mission">Mission</label>
                    <select class="form-control" formControlName="mission" id="field_mission" name="mission">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let ninthMissionOption of ninthmissions; trackBy: trackById"
                            [ngValue]="ninthMissionOption.id === editForm.get('mission')!.value?.id ? editForm.get('mission')!.value : ninthMissionOption"
                        >{{ ninthMissionOption.id }}</option
                        >
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
