<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="profilePartSkillCategory">
      <h2>
        <span jhiTranslate="n42cApp.profilePartSkillCategory.detail.title">Profile Part Skill Category</span>
        {{ profilePartSkillCategory.id }}
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt>
          <span jhiTranslate="n42cApp.profilePartSkillCategory.name" [ngbTooltip]="'n42cApp.profilePartSkillCategory.help.name' | translate"
            >Name</span
          >
        </dt>
        <dd>
          <span>{{ profilePartSkillCategory.name }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="n42cApp.profilePartSkillCategory.index"
            [ngbTooltip]="'n42cApp.profilePartSkillCategory.help.index' | translate"
            >Index</span
          >
        </dt>
        <dd>
          <span>{{ profilePartSkillCategory.index }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.profilePartSkillCategory.profilePart">Profile Part</span></dt>
        <dd>
          <div *ngIf="profilePartSkillCategory.profilePart">
            <a [routerLink]="['/entities', 'profile-part', profilePartSkillCategory.profilePart?.id, 'view']">{{
              profilePartSkillCategory.profilePart?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/entities', 'profile-part-skill-category', profilePartSkillCategory.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
