<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.profilePartSkillCategory.home.title">Profile Part Skill Categories</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-profile-part-skill-category"
      [routerLink]="['/entities', 'profile-part-skill-category', 'new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.profilePartSkillCategory.home.createLabel">
        Create a new Profile Part Skill Category
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="profilePartSkillCategories?.length === 0">
    <span jhiTranslate="n42cApp.profilePartSkillCategory.home.notFound">No profilePartSkillCategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="profilePartSkillCategories && profilePartSkillCategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.profilePartSkillCategory.name">Name</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.profilePartSkillCategory.index">Index</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.profilePartSkillCategory.profilePart">Profile Part</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profilePartSkillCategory of profilePartSkillCategories; trackBy: trackId">
          <td>
            <a [routerLink]="['/entities', 'profile-part-skill-category', profilePartSkillCategory.id, 'view']">{{
              profilePartSkillCategory.id
            }}</a>
          </td>
          <td>{{ profilePartSkillCategory.name }}</td>
          <td>{{ profilePartSkillCategory.index }}</td>
          <td>
            <div *ngIf="profilePartSkillCategory.profilePart">
              <a [routerLink]="['/entities', 'profile-part', profilePartSkillCategory.profilePart?.id, 'view']">{{
                profilePartSkillCategory.profilePart?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entities', 'profile-part-skill-category', profilePartSkillCategory.id, 'view']"
                class="btn btn-info btn-sm"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entities', 'profile-part-skill-category', profilePartSkillCategory.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(profilePartSkillCategory)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
