<div class="row justify-content-center">
    <div class="col-12">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-profile-part-heading" jhiTranslate="n42cApp.profilePart.home.createOrEditLabel">Create or edit a
                Profile Part</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.profilePart.help.title' | translate"
                        class="form-control-label"
                        for="field_title"
                        jhiTranslate="n42cApp.profilePart.title"
                    >Title</label
                    >
                    <input class="form-control" formControlName="title" id="field_title" name="title" type="text"/>
                    <div
                        *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small *ngIf="editForm.get('title')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.profilePart.help.type' | translate"
                        class="form-control-label"
                        for="field_type"
                        jhiTranslate="n42cApp.profilePart.type"
                    >Type</label
                    >
                    <select class="form-control" formControlName="type" id="field_type" name="type">
                        <option value="ED">{{ 'n42cApp.ProfilePartType.ED' | translate }}</option>
                        <option value="PR">{{ 'n42cApp.ProfilePartType.PR' | translate }}</option>
                        <option value="SK">{{ 'n42cApp.ProfilePartType.SK' | translate }}</option>
                        <option value="CE">{{ 'n42cApp.ProfilePartType.CE' | translate }}</option>
                        <option value="CU">{{ 'n42cApp.ProfilePartType.CU' | translate }}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small *ngIf="editForm.get('type')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.profilePart.help.index' | translate"
                        class="form-control-label"
                        for="field_index"
                        jhiTranslate="n42cApp.profilePart.index"
                    >Index</label
                    >
                    <input class="form-control" formControlName="index" id="field_index" name="index" type="number"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.profilePart.help.order' | translate"
                        class="form-control-label"
                        for="field_order"
                        jhiTranslate="n42cApp.profilePart.order"
                    >Order</label
                    >
                    <select class="form-control" formControlName="order" id="field_order" name="order">
                        <option value="AZA">{{ 'n42cApp.ProfilePartOrderType.AZA' | translate }}</option>
                        <option value="AZD">{{ 'n42cApp.ProfilePartOrderType.AZD' | translate }}</option>
                        <option value="YEA">{{ 'n42cApp.ProfilePartOrderType.YEA' | translate }}</option>
                        <option value="YED">{{ 'n42cApp.ProfilePartOrderType.YED' | translate }}</option>
                        <option value="MOA">{{ 'n42cApp.ProfilePartOrderType.MOA' | translate }}</option>
                        <option value="MOD">{{ 'n42cApp.ProfilePartOrderType.MOD' | translate }}</option>
                        <option value="CAA">{{ 'n42cApp.ProfilePartOrderType.CAA' | translate }}</option>
                        <option value="CAD">{{ 'n42cApp.ProfilePartOrderType.CAD' | translate }}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('order')!.invalid && (editForm.get('order')!.dirty || editForm.get('order')!.touched)">
                        <small *ngIf="editForm.get('order')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_profile" jhiTranslate="n42cApp.profilePart.profile">Profile</label>
                    <select class="form-control" formControlName="profile" id="field_profile" name="profile">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let appUserProfileOption of appuserprofiles; trackBy: trackById"
                            [ngValue]="
                appUserProfileOption.id === editForm.get('profile')!.value?.id ? editForm.get('profile')!.value : appUserProfileOption
              "
                        >{{ appUserProfileOption.id }}</option
                        >
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
