<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ninth-campaign-heading" jhiTranslate="n42cApp.ninthCampaign.home.createOrEditLabel">Create or
                edit a Ninth Campaign</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name"
                           jhiTranslate="n42cApp.ninthCampaign.name">Name</label>
                    <input class="form-control" formControlName="name" id="field_name" name="name" type="text"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small *ngIf="editForm.get('name')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gameType"
                           jhiTranslate="n42cApp.ninthCampaign.gameType">Game Type</label>
                    <select class="form-control" formControlName="gameType" id="field_gameType" name="gameType">
                        <option value="OP">{{ 'n42cApp.NinthGameType.OP' | translate }}</option>
                        <option value="MP">{{ 'n42cApp.NinthGameType.MP' | translate }}</option>
                        <option value="CR">{{ 'n42cApp.NinthGameType.CR' | translate }}</option>
                        <option value="NG">{{ 'n42cApp.NinthGameType.NG' | translate }}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('gameType')!.invalid && (editForm.get('gameType')!.dirty || editForm.get('gameType')!.touched)">
                        <small
                            *ngIf="editForm.get('gameType')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usePowerRating"
                           jhiTranslate="n42cApp.ninthCampaign.usePowerRating"
                    >Use Power Rating</label
                    >
                    <input class="form-control" formControlName="usePowerRating" id="field_usePowerRating" name="usePowerRating"
                           type="checkbox"/>
                    <div
                        *ngIf="
              editForm.get('usePowerRating')!.invalid && (editForm.get('usePowerRating')!.dirty || editForm.get('usePowerRating')!.touched)
            "
                    >
                        <small
                            *ngIf="editForm.get('usePowerRating')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description"
                           jhiTranslate="n42cApp.ninthCampaign.description">Description</label>
                    <textarea class="form-control" formControlName="description" id="field_description"
                              name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="field_authors" jhiTranslate="n42cApp.ninthCampaign.authors">Authors</label>
                    <select class="form-control" formControlName="authors" id="field_authors" multiple name="authors">
                        <option
                            *ngFor="let playerOption of players; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('authors')!.value, playerOption)"
                        >{{ playerOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_participants"
                           jhiTranslate="n42cApp.ninthCampaign.participants">Participants</label>
                    <select class="form-control" formControlName="participants" id="field_participants" multiple
                            name="participants">
                        <option
                            *ngFor="let playerOption of players; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('participants')!.value, playerOption)"
                        >{{ playerOption.id }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_campaignStratagems" jhiTranslate="n42cApp.ninthCampaign.campaignStratagems">Campaign
                        Stratagems</label>
                    <select
                        class="form-control"
                        formControlName="campaignStratagems"
                        id="field_campaignStratagems"
                        multiple
                        name="campaignStratagems"
                    >
                        <option
                            *ngFor="let ninthStratagemGroupOption of ninthstratagemgroups; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('campaignStratagems')!.value, ninthStratagemGroupOption)"
                        >{{ ninthStratagemGroupOption.id }}</option
                        >
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
