<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.ninthCampaign.home.title">Ninth Campaigns</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-ninth-campaign"
      [routerLink]="['/ninth-campaign/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.ninthCampaign.home.createLabel">
        Create a new Ninth Campaign
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ninthCampaigns?.length === 0">
    <span jhiTranslate="n42cApp.ninthCampaign.home.notFound">No ninthCampaigns found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ninthCampaigns && ninthCampaigns.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.name">Name</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.gameType">Game Type</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.usePowerRating">Use Power Rating</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.description">Description</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.authors">Authors</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.participants">Participants</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthCampaign.campaignStratagems">Campaign Stratagems</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ninthCampaign of ninthCampaigns; trackBy: trackId">
          <td>
            <a [routerLink]="['/ninth-campaign', ninthCampaign.id, 'view']">{{ ninthCampaign.id }}</a>
          </td>
          <td>{{ ninthCampaign.name }}</td>
          <td jhiTranslate="{{ 'n42cApp.NinthGameType.' + ninthCampaign.gameType }}">{{ ninthCampaign.gameType }}</td>
          <td>{{ ninthCampaign.usePowerRating }}</td>
          <td>{{ ninthCampaign.description }}</td>
          <td>
            <span *ngFor="let authors of ninthCampaign.authors; let last = last">
              <a class="form-control-static" [routerLink]="['/player', authors?.id, 'view']">{{ authors.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let participants of ninthCampaign.participants; let last = last">
              <a class="form-control-static" [routerLink]="['/player', participants?.id, 'view']">{{ participants.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let campaignStratagems of ninthCampaign.campaignStratagems; let last = last">
              <a class="form-control-static" [routerLink]="['/ninth-stratagem-group', campaignStratagems?.id, 'view']">{{
                campaignStratagems.id
              }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ninth-campaign', ninthCampaign.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/ninth-campaign', ninthCampaign.id, 'edit']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ninthCampaign)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
