<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-blog-post-heading" jhiTranslate="n42cApp.blogPost.home.createOrEditLabel">Create or edit a Blog
                Post</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.blogPost.help.title' | translate"
                        class="form-control-label"
                        for="field_title"
                        jhiTranslate="n42cApp.blogPost.title"
                    >Title</label
                    >
                    <input class="form-control" formControlName="title" id="field_title" name="title" type="text"/>
                    <div
                        *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small *ngIf="editForm.get('title')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.blogPost.help.published' | translate"
                        class="form-control-label"
                        for="field_published"
                        jhiTranslate="n42cApp.blogPost.published"
                    >Published</label
                    >
                    <div class="d-flex">
                        <input
                            class="form-control"
                            formControlName="published"
                            id="field_published"
                            name="published"
                            placeholder="YYYY-MM-DD HH:mm"
                            type="datetime-local"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.blogPost.help.modified' | translate"
                        class="form-control-label"
                        for="field_modified"
                        jhiTranslate="n42cApp.blogPost.modified"
                    >Modified</label
                    >
                    <div class="d-flex">
                        <input
                            class="form-control"
                            formControlName="modified"
                            id="field_modified"
                            name="modified"
                            placeholder="YYYY-MM-DD HH:mm"
                            type="datetime-local"
                        />
                    </div>
                    <div
                        *ngIf="editForm.get('modified')!.invalid && (editForm.get('modified')!.dirty || editForm.get('modified')!.touched)">
                        <small
                            *ngIf="editForm.get('modified')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                        <small
                            [hidden]="!editForm.get('modified')?.errors?.ZonedDateTimelocal"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.ZonedDateTimelocal"
                        >
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_authors" jhiTranslate="n42cApp.blogPost.authors">Authors</label>
                    <select class="form-control" formControlName="authors" id="field_authors" multiple name="authors">
                        <option
                            *ngFor="let appUserOption of appusers; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('authors')!.value, appUserOption)"
                        >{{ appUserOption.displayedName }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_categories" jhiTranslate="n42cApp.blogPost.categories">Categories</label>
                    <select class="form-control" formControlName="categories" id="field_categories" multiple
                            name="categories">
                        <option
                            *ngFor="let blogCategoryOption of blogcategories; trackBy: trackById"
                            [ngValue]="getSelected(editForm.get('categories')!.value, blogCategoryOption)"
                        >{{ blogCategoryOption.name }}</option
                        >
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_blog" jhiTranslate="n42cApp.blogPost.blog">Blog</label>
                    <select class="form-control" formControlName="blog" id="field_blog" name="blog">
                        <option *ngIf="!editForm.get('blog')!.value" [ngValue]="null" selected></option>
                        <option
                            *ngFor="let blogOption of blogs; trackBy: trackById"
                            [ngValue]="blogOption.id === editForm.get('blog')!.value?.id ? editForm.get('blog')!.value : blogOption"
                        >{{ blogOption.name }}</option
                        >
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('blog')!.invalid && (editForm.get('blog')!.dirty || editForm.get('blog')!.touched)">
                    <small *ngIf="editForm.get('blog')?.errors?.required" class="form-text text-danger"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
