<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.ninthArmy.home.title">Ninth Armies</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-ninth-army"
      [routerLink]="['/entities', 'ninth-army', 'new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.ninthArmy.home.createLabel">
        Create a new Ninth Army
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ninthArmies?.length === 0">
    <span jhiTranslate="n42cApp.ninthArmy.home.notFound">No ninthArmies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ninthArmies && ninthArmies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmy.name">Name</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmy.crusade">Crusade</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmy.faction">Faction</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmy.subfaction">Subfaction</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmy.author">Author</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ninthArmy of ninthArmies; trackBy: trackId">
          <td>
            <a [routerLink]="['/entities', 'ninth-army', ninthArmy.id, 'view']">{{ ninthArmy.id }}</a>
          </td>
          <td>{{ ninthArmy.name }}</td>
          <td>{{ ninthArmy.crusade }}</td>
          <td jhiTranslate="{{ 'n42cApp.Faction.' + ninthArmy.faction }}">{{ ninthArmy.faction }}</td>
          <td jhiTranslate="{{ 'n42cApp.SubFaction.' + ninthArmy.subfaction }}">{{ ninthArmy.subfaction }}</td>
          <td>
            <div *ngIf="ninthArmy.author">
              <a [routerLink]="['/entities', 'player', ninthArmy.author?.id, 'view']">{{ ninthArmy.author?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/entities', 'ninth-army', ninthArmy.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/entities', 'ninth-army', ninthArmy.id, 'edit']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ninthArmy)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
