<div class="row justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ninth-army-heading" jhiTranslate="n42cApp.ninthArmy.home.createOrEditLabel">Create or edit a Ninth Army</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.ninthArmy.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.ninthArmy.crusade" for="field_crusade">Crusade</label>
          <input type="checkbox" class="form-control" name="crusade" id="field_crusade" formControlName="crusade" />
          <div *ngIf="editForm.get('crusade')!.invalid && (editForm.get('crusade')!.dirty || editForm.get('crusade')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('crusade')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.ninthArmy.faction" for="field_faction">Faction</label>
          <select class="form-control" name="faction" formControlName="faction" id="field_faction">
            <option value="IM">{{ 'n42cApp.Faction.IM' | translate }}</option>
            <option value="CH">{{ 'n42cApp.Faction.CH' | translate }}</option>
            <option value="EL">{{ 'n42cApp.Faction.EL' | translate }}</option>
            <option value="TY">{{ 'n42cApp.Faction.TY' | translate }}</option>
            <option value="OR">{{ 'n42cApp.Faction.OR' | translate }}</option>
            <option value="NE">{{ 'n42cApp.Faction.NE' | translate }}</option>
            <option value="TA">{{ 'n42cApp.Faction.TA' | translate }}</option>
            <option value="OT">{{ 'n42cApp.Faction.OT' | translate }}</option>
            <option value="NA">{{ 'n42cApp.Faction.NA' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.ninthArmy.subfaction" for="field_subfaction">Subfaction</label>
          <select class="form-control" name="subfaction" formControlName="subfaction" id="field_subfaction">
            <option value="SM">{{ 'n42cApp.SubFaction.SM' | translate }}</option>
            <option value="BA">{{ 'n42cApp.SubFaction.BA' | translate }}</option>
            <option value="DA">{{ 'n42cApp.SubFaction.DA' | translate }}</option>
            <option value="DW">{{ 'n42cApp.SubFaction.DW' | translate }}</option>
            <option value="GK">{{ 'n42cApp.SubFaction.GK' | translate }}</option>
            <option value="SW">{{ 'n42cApp.SubFaction.SW' | translate }}</option>
            <option value="GU">{{ 'n42cApp.SubFaction.GU' | translate }}</option>
            <option value="IN">{{ 'n42cApp.SubFaction.IN' | translate }}</option>
            <option value="OA">{{ 'n42cApp.SubFaction.OA' | translate }}</option>
            <option value="CU">{{ 'n42cApp.SubFaction.CU' | translate }}</option>
            <option value="SO">{{ 'n42cApp.SubFaction.SO' | translate }}</option>
            <option value="ME">{{ 'n42cApp.SubFaction.ME' | translate }}</option>
            <option value="KN">{{ 'n42cApp.SubFaction.KN' | translate }}</option>
            <option value="SS">{{ 'n42cApp.SubFaction.SS' | translate }}</option>
            <option value="SQ">{{ 'n42cApp.SubFaction.SQ' | translate }}</option>
            <option value="DZ">{{ 'n42cApp.SubFaction.DZ' | translate }}</option>
            <option value="CK">{{ 'n42cApp.SubFaction.CK' | translate }}</option>
            <option value="CM">{{ 'n42cApp.SubFaction.CM' | translate }}</option>
            <option value="DG">{{ 'n42cApp.SubFaction.DG' | translate }}</option>
            <option value="TS">{{ 'n42cApp.SubFaction.TS' | translate }}</option>
            <option value="RH">{{ 'n42cApp.SubFaction.RH' | translate }}</option>
            <option value="DM">{{ 'n42cApp.SubFaction.DM' | translate }}</option>
            <option value="GC">{{ 'n42cApp.SubFaction.GC' | translate }}</option>
            <option value="TY">{{ 'n42cApp.SubFaction.TY' | translate }}</option>
            <option value="TA">{{ 'n42cApp.SubFaction.TA' | translate }}</option>
            <option value="KR">{{ 'n42cApp.SubFaction.KR' | translate }}</option>
            <option value="NE">{{ 'n42cApp.SubFaction.NE' | translate }}</option>
            <option value="OR">{{ 'n42cApp.SubFaction.OR' | translate }}</option>
            <option value="CE">{{ 'n42cApp.SubFaction.CE' | translate }}</option>
            <option value="DE">{{ 'n42cApp.SubFaction.DE' | translate }}</option>
            <option value="HA">{{ 'n42cApp.SubFaction.HA' | translate }}</option>
            <option value="YN">{{ 'n42cApp.SubFaction.YN' | translate }}</option>
            <option value="OT">{{ 'n42cApp.SubFaction.OT' | translate }}</option>
            <option value="MX">{{ 'n42cApp.SubFaction.MX' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.ninthArmy.author" for="field_author">Author</label>
          <select class="form-control" id="field_author" name="author" formControlName="author">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="playerOption.id === editForm.get('author')!.value?.id ? editForm.get('author')!.value : playerOption"
              *ngFor="let playerOption of players; trackBy: trackById"
              >{{ playerOption.id }}</option
            >
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
