<div class="card jh-card">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div *ngIf="selectedCampaignId !== -1" class="col-12">
          <div class="flex-container">
            <h2 class="flex-item" id="campaign-name">{{ editForm.get('name')?.value }}</h2>
            <div class="flex-item">
              <button (click)="previous()" class="btn btn-secondary" id="previous-entity-moment" type="button">
                <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.previous">Previous</span>
              </button>
              <button
                (click)="editMoment()"
                *ngIf="!isEditingMoment && selectedMomentId !== -1"
                class="btn btn-primary"
                id="edit-entity-moment"
                type="button"
              >
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button (click)="createMoment()" class="btn btn-success" id="new-entity-moment" type="button">
                <fa-icon icon="plus"></fa-icon>&nbsp;<span jhiTranslate="n42cApp.ninthCampaignMoment.add">New</span>
              </button>
              <button (click)="next()" class="btn btn-secondary" id="next-entity-moment" type="button">
                <fa-icon icon="chevron-right"></fa-icon>&nbsp;<span jhiTranslate="entity.action.next">Next</span>
              </button>
            </div>
          </div>
        </div>
        <h2
          *ngIf="selectedCampaignId === -1"
          class="col-12"
          id="jhi-campaign-heading"
          jhiTranslate="n42cApp.ninthCampaign.home.createOrEditLabel"
        >
          Create or edit a Ninth Campaign
        </h2>

        <div [class]="selectedCampaignId !== -1 ? 'col-12 col-md-3' : 'col-12'">
          <form
            (ngSubmit)="save()"
            [formGroup]="editForm"
            aria-labelledby="campaign-name"
            class="card"
            name="editForm"
            novalidate
            role="form"
          >
            <div class="card-body">
              <h3 class="card-title">Général</h3>
              <div class="row">
                <div class="col-12">
                  <jhi-alert-error></jhi-alert-error>

                  <div *jhiHasAnyAuthority="'ROLE_ADMIN'" [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate" for="id-campaign" jhiTranslate="global.field.id"
                      >ID</label
                    >
                    <input
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate"
                      class="form-control"
                      formControlName="id"
                      id="id-campaign"
                      name="id-campaign"
                      readonly
                      type="text"
                    />
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.id' | translate" class="p-control">
                      {{ editForm.get('id')?.value }}
                    </p>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate"
                      class="form-control-label"
                      for="field_name-campaign"
                      jhiTranslate="n42cApp.ninthCampaign.name"
                      >Name</label
                    >
                    <input
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate"
                      class="form-control"
                      formControlName="name"
                      id="field_name-campaign"
                      name="name-campaign"
                      type="text"
                    />
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.name' | translate" class="p-control">
                      {{ editForm.get('name')?.value }}
                    </p>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                      <small
                        *ngIf="editForm.get('name')?.errors?.required"
                        class="form-text text-danger"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate"
                      class="form-control-label"
                      for="field_gameType"
                      jhiTranslate="n42cApp.ninthCampaign.gameType"
                      >Game Type</label
                    >
                    <select
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate"
                      class="form-control"
                      formControlName="gameType"
                      id="field_gameType"
                      name="gameType"
                    >
                      <option value="OP">{{ 'n42cApp.NinthGameType.OP' | translate }}</option>
                      <option value="MP">{{ 'n42cApp.NinthGameType.MP' | translate }}</option>
                      <option value="CR">{{ 'n42cApp.NinthGameType.CR' | translate }}</option>
                      <option value="NG">{{ 'n42cApp.NinthGameType.NG' | translate }}</option>
                    </select>
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.gameType' | translate" class="p-control">
                      {{ getGameTypeTranslationPath(editForm.get('gameType')?.value) | translate }}
                    </p>
                    <div
                      *ngIf="editForm.get('gameType')!.invalid && (editForm.get('gameType')!.dirty || editForm.get('gameType')!.touched)"
                    >
                      <small
                        *ngIf="editForm.get('gameType')?.errors?.required"
                        class="form-text text-danger"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate"
                      class="form-control-label"
                      for="field_usePowerRating"
                      jhiTranslate="n42cApp.ninthCampaign.usePowerRating"
                      >Use Power Rating</label
                    >
                    <input
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate"
                      class="form-control"
                      formControlName="usePowerRating"
                      id="field_usePowerRating"
                      name="usePowerRating"
                      type="checkbox"
                    />
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.usePowerRating' | translate" class="p-control">
                      {{ 'entity.bool.' + editForm.get('usePowerRating')?.value | translate }}
                    </p>
                    <div
                      *ngIf="
                        editForm.get('usePowerRating')!.invalid &&
                        (editForm.get('usePowerRating')!.dirty || editForm.get('usePowerRating')!.touched)
                      "
                    >
                      <small
                        *ngIf="editForm.get('usePowerRating')?.errors?.required"
                        class="form-text text-danger"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate"
                      for="field_authors"
                      jhiTranslate="n42cApp.ninthCampaign.authors"
                      >Authors</label
                    >
                    <select
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate"
                      class="form-control"
                      formControlName="authors"
                      id="field_authors"
                      multiple
                      name="authors"
                    >
                      <option
                        *ngFor="let playerOption of players; trackBy: trackById"
                        [ngValue]="getSelected(editForm.get('authors')!.value, playerOption)"
                        >{{ !!playerOption.appUser ? playerOption.appUser.displayedName : playerOption.id }}</option
                      >
                    </select>
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.authors' | translate" class="p-control">
                      <span *ngFor="let author of editForm.get('authors')?.value; let isLast = last">{{
                        (!!author.appUser ? author.appUser.displayedName : author.id) + (isLast ? '' : ', ')
                      }}</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate"
                      for="field_participants"
                      jhiTranslate="n42cApp.ninthCampaign.participants"
                      >Participants</label
                    >
                    <select
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate"
                      class="form-control"
                      formControlName="participants"
                      id="field_participants"
                      multiple
                      name="participants"
                    >
                      <option
                        *ngFor="let playerOption of players; trackBy: trackById"
                        [ngValue]="getSelected(editForm.get('participants')!.value, playerOption)"
                        >{{ !!playerOption.appUser ? playerOption.appUser.displayedName : playerOption.id }}</option
                      >
                    </select>
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.participants' | translate" class="p-control">
                      <span *ngFor="let participant of editForm.get('participants')?.value; let isLast = last">{{
                        (!!participant.appUser ? participant.appUser.displayedName : participant.id) + (isLast ? '' : ', ')
                      }}</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate"
                      for="field_campaignStratagems"
                      jhiTranslate="n42cApp.ninthCampaign.campaignStratagems"
                      >Campaign Stratagems</label
                    >
                    <select
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate"
                      class="form-control"
                      formControlName="campaignStratagems"
                      id="field_campaignStratagems"
                      multiple
                      name="campaignStratagems"
                    >
                      <option
                        *ngFor="let ninthStratagemGroupOption of ninthstratagemgroups; trackBy: trackById"
                        [ngValue]="getSelected(editForm.get('campaignStratagems')!.value, ninthStratagemGroupOption)"
                        >{{ ninthStratagemGroupOption.id }}</option
                      >
                    </select>
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.campaignStratagems' | translate" class="p-control">
                      <span *ngFor="let ninthStratagemGroup of editForm.get('campaignStratagems')?.value; let isLast = last">{{
                        ninthStratagemGroup.id + (isLast ? '' : ', ')
                      }}</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <label
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.description' | translate"
                      class="form-control-label"
                      for="field_description-campaign"
                      jhiTranslate="n42cApp.ninthCampaign.description"
                      >Description</label
                    >
                    <textarea
                      *ngIf="isEditing"
                      [ngbTooltip]="'n42cApp.ninthCampaign.help.description' | translate"
                      class="form-control"
                      formControlName="description"
                      id="field_description-campaign"
                      name="description-campaign"
                      rows="5"
                    ></textarea>
                    <p *ngIf="!isEditing" [ngbTooltip]="'n42cApp.ninthCampaign.help.description' | translate" class="p-control">
                      {{ editForm.get('description')?.value }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="text-right">
                <button (click)="edit()" *ngIf="!isEditing" class="btn btn-primary" id="edit-entity-campaign" type="button">
                  <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button (click)="cancel()" *ngIf="isEditing" class="btn btn-secondary" id="cancel-save-campaign" type="button">
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button
                  *ngIf="isEditing"
                  [disabled]="editForm.invalid || isSaving"
                  class="btn btn-primary"
                  id="save-entity-campaign"
                  type="submit"
                >
                  <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="selectedCampaignId !== -1" class="col-12 col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
