<div class="row justify-content-center">
    <div class="col-12">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ninth-objective-heading" jhiTranslate="n42cApp.ninthObjective.home.createOrEditLabel">
                Create or edit a Ninth Objective
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shareable"
                           jhiTranslate="n42cApp.ninthObjective.shareable">Shareable</label>
                    <input class="form-control" formControlName="shareable" id="field_shareable" name="shareable"
                           type="checkbox"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type"
                           jhiTranslate="n42cApp.ninthObjective.type">Type</label>
                    <select class="form-control" formControlName="type" id="field_type" name="type">
                        <option value="PR">{{ 'n42cApp.NinthObjectiveType.PR' | translate }}</option>
                        <option value="EN">{{ 'n42cApp.NinthObjectiveType.EN' | translate }}</option>
                        <option value="PE">{{ 'n42cApp.NinthObjectiveType.PE' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
