<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-localized-product-heading" jhiTranslate="n42cApp.localizedProduct.home.createOrEditLabel">
                Create or edit a Localized Product
            </h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.localizedProduct.help.name' | translate"
                        class="form-control-label"
                        for="field_name"
                        jhiTranslate="n42cApp.localizedProduct.name"
                    >Name</label
                    >
                    <input class="form-control" formControlName="name" id="field_name" name="name" type="text"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small *ngIf="editForm.get('name')?.errors?.required" class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.localizedProduct.help.excerpt' | translate"
                        class="form-control-label"
                        for="field_excerpt"
                        jhiTranslate="n42cApp.localizedProduct.excerpt"
                    >Excerpt</label
                    >
                    <input class="form-control" formControlName="excerpt" id="field_excerpt" name="excerpt"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.localizedProduct.help.pictureUrl' | translate"
                        class="form-control-label"
                        for="field_pictureUrl"
                        jhiTranslate="n42cApp.localizedProduct.pictureUrl"
                    >Picture Url</label
                    >
                    <input class="form-control" formControlName="pictureUrl" id="field_pictureUrl" name="pictureUrl"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.localizedProduct.help.content' | translate"
                        class="form-control-label"
                        for="field_content"
                        jhiTranslate="n42cApp.localizedProduct.content"
                    >Content</label
                    >
                    <textarea class="form-control" formControlName="content" id="field_content"
                              name="content"></textarea>
                    <div
                        *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
                        <small
                            *ngIf="editForm.get('content')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label
                        [ngbTooltip]="'n42cApp.localizedProduct.help.language' | translate"
                        class="form-control-label"
                        for="field_language"
                        jhiTranslate="n42cApp.localizedProduct.language"
                    >Language</label
                    >
                    <select class="form-control" formControlName="language" id="field_language" name="language">
                        <option value="EN">{{ 'n42cApp.Language.EN' | translate }}</option>
                        <option value="FR">{{ 'n42cApp.Language.FR' | translate }}</option>
                        <option value="AR">{{ 'n42cApp.Language.AR' | translate }}</option>
                        <option value="ZH">{{ 'n42cApp.Language.ZH' | translate }}</option>
                        <option value="DA">{{ 'n42cApp.Language.DA' | translate }}</option>
                        <option value="NL">{{ 'n42cApp.Language.NL' | translate }}</option>
                        <option value="FI">{{ 'n42cApp.Language.FI' | translate }}</option>
                        <option value="DE">{{ 'n42cApp.Language.DE' | translate }}</option>
                        <option value="EL">{{ 'n42cApp.Language.EL' | translate }}</option>
                        <option value="HU">{{ 'n42cApp.Language.HU' | translate }}</option>
                        <option value="IS">{{ 'n42cApp.Language.IS' | translate }}</option>
                        <option value="ID">{{ 'n42cApp.Language.ID' | translate }}</option>
                        <option value="GA">{{ 'n42cApp.Language.GA' | translate }}</option>
                        <option value="IT">{{ 'n42cApp.Language.IT' | translate }}</option>
                        <option value="JA">{{ 'n42cApp.Language.JA' | translate }}</option>
                        <option value="KO">{{ 'n42cApp.Language.KO' | translate }}</option>
                        <option value="FA">{{ 'n42cApp.Language.FA' | translate }}</option>
                        <option value="PL">{{ 'n42cApp.Language.PL' | translate }}</option>
                        <option value="PT">{{ 'n42cApp.Language.PT' | translate }}</option>
                        <option value="RO">{{ 'n42cApp.Language.RO' | translate }}</option>
                        <option value="RU">{{ 'n42cApp.Language.RU' | translate }}</option>
                        <option value="SR">{{ 'n42cApp.Language.SR' | translate }}</option>
                        <option value="ES">{{ 'n42cApp.Language.ES' | translate }}</option>
                        <option value="SV">{{ 'n42cApp.Language.SV' | translate }}</option>
                        <option value="TR">{{ 'n42cApp.Language.TR' | translate }}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
                        <small
                            *ngIf="editForm.get('language')?.errors?.required"
                            class="form-text text-danger"
                            jhiTranslate="entity.validation.required"
                        >
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_product"
                           jhiTranslate="n42cApp.localizedProduct.product">Product</label>
                    <select class="form-control" formControlName="product" id="field_product" name="product">
                        <option *ngIf="!editForm.get('product')!.value" [ngValue]="null" selected></option>
                        <option
                            *ngFor="let productOption of products; trackBy: trackById"
                            [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
                        >{{ productOption.name }}</option
                        >
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('product')!.invalid && (editForm.get('product')!.dirty || editForm.get('product')!.touched)">
                    <small *ngIf="editForm.get('product')?.errors?.required" class="form-text text-danger"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
