<div>
    <h2 id="page-heading">
        <span jhiTranslate="n42cApp.localizedProduct.home.title">Localized Products</span>

        <button
            [routerLink]="['/entities/localized-product/new']"
            class="btn btn-primary float-right jh-create-entity create-localized-product"
            id="jh-create-entity"
        >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="n42cApp.localizedProduct.home.createLabel">
        Create a new Localized Product
      </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="localizedProducts?.length === 0" class="alert alert-warning" id="no-result">
        <span jhiTranslate="n42cApp.localizedProduct.home.notFound">No localizedProducts found</span>
    </div>

    <div *ngIf="localizedProducts && localizedProducts.length > 0" class="table-responsive" id="entities">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.name">Name</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.excerpt">Excerpt</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.pictureUrl">Picture Url</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.content">Content</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.language">Language</span></th>
                <th scope="col"><span jhiTranslate="n42cApp.localizedProduct.product">Product</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localizedProduct of localizedProducts; trackBy: trackId">
                <td>
                    <a [routerLink]="['/entities', 'localized-product', localizedProduct.id, 'view']">{{ localizedProduct.id }}</a>
                </td>
                <td>{{ localizedProduct.name }}</td>
                <td>{{ localizedProduct.excerpt }}</td>
                <td>{{ localizedProduct.pictureUrl }}</td>
                <td>{{ localizedProduct.content }}</td>
                <td jhiTranslate="{{ 'n42cApp.Language.' + localizedProduct.language }}">{{ localizedProduct.language }}</td>
                <td>
                    <div *ngIf="localizedProduct.product">
                        <a [routerLink]="['/entities', 'product', localizedProduct.product?.id, 'view']">{{ localizedProduct.product?.name }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button
                            [routerLink]="['/entities', 'localized-product', localizedProduct.id, 'view']"
                            class="btn btn-info btn-sm"
                            type="submit"
                        >
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button
                            [routerLink]="['/entities', 'localized-product', localizedProduct.id, 'edit']"
                            class="btn btn-primary btn-sm"
                            type="submit"
                        >
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button (click)="delete(localizedProduct)" class="btn btn-danger btn-sm" type="submit">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
