<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.ninthArmyUnitMoment.home.title">Ninth Army Unit Moments</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-ninth-army-unit-moment"
      [routerLink]="['/entities/ninth-army-unit-moment/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.ninthArmyUnitMoment.home.createLabel">
        Create a new Ninth Army Unit Moment
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ninthArmyUnitMoments?.length === 0">
    <span jhiTranslate="n42cApp.ninthArmyUnitMoment.home.notFound">No ninthArmyUnitMoments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ninthArmyUnitMoments && ninthArmyUnitMoments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.current">Current</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.sinceInstant">Since Instant</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.pointsCost">Points Cost</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.powerRating">Power Rating</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.experiencePoints">Experience Points</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.crusadePoints">Crusade Points</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.equipment">Equipment</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.psychicPowers">Psychic Powers</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.warlordTraits">Warlord Traits</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.relics">Relics</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.otherUpgrades">Other Upgrades</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.battlesPlayed">Battles Played</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.battlesSurvived">Battles Survived</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.rangedKills">Ranged Kills</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.meleeKills">Melee Kills</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.psychicKills">Psychic Kills</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.crusadeRank">Crusade Rank</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.battleHonours">Battle Honours</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.battleScars">Battle Scars</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.ninthArmyUnitMoment.armyUnit">Army Unit</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ninthArmyUnitMoment of ninthArmyUnitMoments; trackBy: trackId">
          <td>
            <a [routerLink]="['/entities/ninth-army-unit-moment', ninthArmyUnitMoment.id, 'view']">{{ ninthArmyUnitMoment.id }}</a>
          </td>
          <td>{{ ninthArmyUnitMoment.current }}</td>
          <td>{{ ninthArmyUnitMoment.sinceInstant | date: 'medium' }}</td>
          <td>{{ ninthArmyUnitMoment.pointsCost }}</td>
          <td>{{ ninthArmyUnitMoment.powerRating }}</td>
          <td>{{ ninthArmyUnitMoment.experiencePoints }}</td>
          <td>{{ ninthArmyUnitMoment.crusadePoints }}</td>
          <td>{{ ninthArmyUnitMoment.equipment }}</td>
          <td>{{ ninthArmyUnitMoment.psychicPowers }}</td>
          <td>{{ ninthArmyUnitMoment.warlordTraits }}</td>
          <td>{{ ninthArmyUnitMoment.relics }}</td>
          <td>{{ ninthArmyUnitMoment.otherUpgrades }}</td>
          <td>{{ ninthArmyUnitMoment.battlesPlayed }}</td>
          <td>{{ ninthArmyUnitMoment.battlesSurvived }}</td>
          <td>{{ ninthArmyUnitMoment.rangedKills }}</td>
          <td>{{ ninthArmyUnitMoment.meleeKills }}</td>
          <td>{{ ninthArmyUnitMoment.psychicKills }}</td>
          <td jhiTranslate="{{ 'n42cApp.NinthCrusadeRank.' + ninthArmyUnitMoment.crusadeRank }}">{{ ninthArmyUnitMoment.crusadeRank }}</td>
          <td>{{ ninthArmyUnitMoment.battleHonours }}</td>
          <td>{{ ninthArmyUnitMoment.battleScars }}</td>
          <td>
            <div *ngIf="ninthArmyUnitMoment.armyUnit">
              <a [routerLink]="['/entities/ninth-army-unit', ninthArmyUnitMoment.armyUnit?.id, 'view']">{{
                ninthArmyUnitMoment.armyUnit?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entities/ninth-army-unit-moment', ninthArmyUnitMoment.id, 'view']"
                class="btn btn-info btn-sm"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entities/ninth-army-unit-moment', ninthArmyUnitMoment.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ninthArmyUnitMoment)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
