<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="localizedNinthMissionRule">
      <h2>
        <span jhiTranslate="n42cApp.localizedNinthMissionRule.detail.title">Localized Ninth Mission Rule</span>
        {{ localizedNinthMissionRule.id }}
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="n42cApp.localizedNinthMissionRule.name">Name</span></dt>
        <dd>
          <span>{{ localizedNinthMissionRule.name }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.localizedNinthMissionRule.description">Description</span></dt>
        <dd>
          <span>{{ localizedNinthMissionRule.description }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.localizedNinthMissionRule.language">Language</span></dt>
        <dd>
          <span jhiTranslate="{{ 'n42cApp.Language.' + localizedNinthMissionRule.language }}">{{
            localizedNinthMissionRule.language
          }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.localizedNinthMissionRule.rule">Rule</span></dt>
        <dd>
          <div *ngIf="localizedNinthMissionRule.rule">
            <a [routerLink]="['/ninth-mission-rule', localizedNinthMissionRule.rule?.id, 'view']">{{
              localizedNinthMissionRule.rule?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/localized-ninth-mission-rule', localizedNinthMissionRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
