<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-localized-post-content-heading" jhiTranslate="n42cApp.localizedPostContent.home.createOrEditLabel">
        Create or edit a Localized Post Content
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.localizedPostContent.excerpt"
            for="field_excerpt"
            [ngbTooltip]="'n42cApp.localizedPostContent.help.excerpt' | translate"
            >Excerpt</label
          >
          <textarea class="form-control" name="excerpt" id="field_excerpt" formControlName="excerpt"></textarea>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.localizedPostContent.content"
            for="field_content"
            [ngbTooltip]="'n42cApp.localizedPostContent.help.content' | translate"
            >Content</label
          >
          <textarea class="form-control" name="content" id="field_content" formControlName="content"></textarea>
          <div *ngIf="editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('content')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.localizedPostContent.language"
            for="field_language"
            [ngbTooltip]="'n42cApp.localizedPostContent.help.language' | translate"
            >Language</label
          >
          <select class="form-control" name="language" formControlName="language" id="field_language">
            <option value="EN">{{ 'n42cApp.Language.EN' | translate }}</option>
            <option value="FR">{{ 'n42cApp.Language.FR' | translate }}</option>
            <option value="ES">{{ 'n42cApp.Language.ES' | translate }}</option>
            <option value="GE">{{ 'n42cApp.Language.GE' | translate }}</option>
            <option value="RU">{{ 'n42cApp.Language.RU' | translate }}</option>
            <option value="AR">{{ 'n42cApp.Language.AR' | translate }}</option>
            <option value="CH">{{ 'n42cApp.Language.CH' | translate }}</option>
            <option value="PR">{{ 'n42cApp.Language.PR' | translate }}</option>
            <option value="IT">{{ 'n42cApp.Language.IT' | translate }}</option>
            <option value="PO">{{ 'n42cApp.Language.PO' | translate }}</option>
            <option value="DU">{{ 'n42cApp.Language.DU' | translate }}</option>
            <option value="GR">{{ 'n42cApp.Language.GR' | translate }}</option>
            <option value="SW">{{ 'n42cApp.Language.SW' | translate }}</option>
            <option value="TU">{{ 'n42cApp.Language.TU' | translate }}</option>
            <option value="RO">{{ 'n42cApp.Language.RO' | translate }}</option>
            <option value="JP">{{ 'n42cApp.Language.JP' | translate }}</option>
            <option value="KO">{{ 'n42cApp.Language.KO' | translate }}</option>
            <option value="HU">{{ 'n42cApp.Language.HU' | translate }}</option>
            <option value="DA">{{ 'n42cApp.Language.DA' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('language')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.localizedPostContent.post" for="field_post">Post</label>
          <select class="form-control" id="field_post" name="post" formControlName="post">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="blogPostOption.id === editForm.get('post')!.value?.id ? editForm.get('post')!.value : blogPostOption"
              *ngFor="let blogPostOption of blogposts; trackBy: trackById"
              >{{ blogPostOption.id }}</option
            >
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
