<div
    [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.sinceInstant' | translate"
    class="col-12 col-md-1 btn-group btn-group-toggle"
    data-toggle="buttons"
>
    <label
        (click)="gregorianDisplay = false"
        [class]="!gregorianDisplay ? 'btn btn-primary d-flex align-items-center' : 'btn btn-secondary d-flex align-items-center'"
    >
        <input [checked]="!gregorianDisplay" autocomplete="off" class="align-middle" id="datepicker-preference-i" name="options"
               type="radio"/>
        <span class="text-center w-100">I</span>
    </label>
    <label
        (click)="gregorianDisplay = true"
        [class]="gregorianDisplay ? 'btn btn-primary d-flex align-items-center' : 'btn btn-secondary d-flex align-items-center'"
    >
        <input [checked]="gregorianDisplay" autocomplete="off" class="align-middle" id="datepicker-preference-g" name="options"
               type="radio"/>
        <span class="text-center w-100">G</span>
    </label>
</div>
<div [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.sinceInstant' | translate" class="col-12 col-md-11">
    <!-- IMPERIAL -->
    <div *ngIf="!gregorianDisplay" class="row">
        <div class="col-12 col-md-3">
            <label class="form-control-label" for="imperial-check">Check</label>
            <input
                (change)="updateCheck($event)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="check"
                class="form-control"
                id="imperial-check"
                max="9"
                min="0"
                name="imperial-check"
                type="number"
            />
        </div>
        <div class="col-12 col-md-3">
            <label class="form-control-label" for="imperial-fraction">Fraction</label>
            <input
                (change)="updateFromImperial($event, imperialYear, imperialMillenia)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="imperialFraction"
                class="form-control"
                id="imperial-fraction"
                max="999"
                min="0"
                name="imperial-fraction"
                type="number"
            />
        </div>
        <div class="col-12 col-md-3">
            <label class="form-control-label" for="imperial-year">Year</label>
            <input
                (change)="updateFromImperial(imperialFraction, $event, imperialMillenia)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="imperialYear"
                class="form-control"
                id="imperial-year"
                name="imperial-year"
                type="number"
            />
        </div>
        <div class="col-12 col-md-3">
            <label class="form-control-label" for="imperial-millenia">Millenia</label>
            <input
                (change)="updateFromImperial(imperialFraction, imperialYear, $event)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="imperialMillenia"
                class="form-control"
                id="imperial-millenia"
                name="imperial-millenia"
                type="number"
            />
        </div>
    </div>
    <!-- GREGORIAN -->
    <div *ngIf="gregorianDisplay" class="row">
        <div class="col-12 col-md-4">
            <label class="form-control-label" for="gregorian-check">Check</label>
            <input
                (change)="updateCheck($event)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="check"
                class="form-control"
                id="gregorian-check"
                max="9"
                min="0"
                name="gregorian-check"
                type="number"
            />
        </div>
        <div class="col-12 col-md-4">
            <label class="form-control-label" for="gregorian-date">Date</label>
            <input
                (change)="updateFromGregorianDate($event, '')"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="date | date: 'yyyy-MM-dd'"
                class="form-control"
                id="gregorian-date"
                name="gregorian-date"
                type="date"
            />
        </div>
        <div class="col-12 col-md-4">
            <label class="form-control-label" for="gregorian-hour">Hour</label>
            <input
                (change)="updateFromGregorianDate('', $event)"
                [ngbTooltip]="'n42cApp.ninthCampaignMoment.help.name' | translate"
                [value]="date | date: 'HH:mm'"
                class="form-control"
                id="gregorian-hour"
                name="gregorian-hour"
                type="time"
            />
        </div>
    </div>
</div>
