<div class="card jh-card">
  <div class="row justify-content-center">
    <div class="col-12">
      <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
        <h2 id="jhi-shop-heading" jhiTranslate="n42cApp.shop.home.createOrEditLabel">Create or edit a Shop</h2>

        <div>
          <jhi-alert-error></jhi-alert-error>

          <div [hidden]="!editForm.get('id')!.value" class="form-group">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input class="form-control" formControlName="id" id="id" name="id" readonly type="text" />
          </div>
        </div>

        <div>
          <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
