<div class="card jh-card">
  <div>
    <h2 id="page-heading">
      <span jhiTranslate="n42cApp.shop.home.title">Shops</span>

      <button [routerLink]="['/shop', 'new']" class="btn btn-primary float-right jh-create-entity create-shop" id="jh-create-entity">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="n42cApp.shop.home.createLabel">
          Create a new Shop
        </span>
      </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="shops?.length === 0" class="alert alert-warning" id="no-result">
      <span jhiTranslate="n42cApp.shop.home.notFound">No shops found</span>
    </div>

    <div *ngIf="shops && shops.length > 0" class="table-responsive" id="entities">
      <table aria-describedby="page-heading" class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shop of shops; trackBy: trackId">
            <td>
              <a [routerLink]="['/shop', shop.id, 'view']">{{ shop.id }}</a>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button [routerLink]="['/shop', shop.id, 'view']" class="btn btn-info btn-sm" type="submit">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button [routerLink]="['/shop', shop.id, 'edit']" class="btn btn-primary btn-sm" type="submit">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button (click)="delete(shop)" class="btn btn-danger btn-sm" type="submit">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
