<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="localizedNinthDeploymentMap">
      <h2>
        <span jhiTranslate="n42cApp.localizedNinthDeploymentMap.detail.title">Localized Ninth Deployment Map</span>
        {{ localizedNinthDeploymentMap.id }}
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="n42cApp.localizedNinthDeploymentMap.name">Name</span></dt>
        <dd>
          <span>{{ localizedNinthDeploymentMap.name }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.localizedNinthDeploymentMap.description">Description</span></dt>
        <dd>
          <span>{{ localizedNinthDeploymentMap.description }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.localizedNinthDeploymentMap.deploymentMap">Deployment Map</span></dt>
        <dd>
          <div *ngIf="localizedNinthDeploymentMap.deploymentMap">
            <a [routerLink]="['/ninth-deployment-map', localizedNinthDeploymentMap.deploymentMap?.id, 'view']">{{
              localizedNinthDeploymentMap.deploymentMap?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/localized-ninth-deployment-map', localizedNinthDeploymentMap.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
