<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.localizedNinthMission.home.title">Localized Ninth Missions</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-localized-ninth-mission"
      [routerLink]="['/entities/localized-ninth-mission/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.localizedNinthMission.home.createLabel">
        Create a new Localized Ninth Mission
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="localizedNinthMissions?.length === 0">
    <span jhiTranslate="n42cApp.localizedNinthMission.home.notFound">No localizedNinthMissions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="localizedNinthMissions && localizedNinthMissions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.localizedNinthMission.name">Name</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.localizedNinthMission.briefing">Briefing</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.localizedNinthMission.language">Language</span></th>
          <th scope="col"><span jhiTranslate="n42cApp.localizedNinthMission.mission">Mission</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let localizedNinthMission of localizedNinthMissions; trackBy: trackId">
          <td>
            <a [routerLink]="['/entities', 'localized-ninth-mission', localizedNinthMission.id, 'view']">{{ localizedNinthMission.id }}</a>
          </td>
          <td>{{ localizedNinthMission.name }}</td>
          <td>{{ localizedNinthMission.briefing }}</td>
          <td jhiTranslate="{{ 'n42cApp.Language.' + localizedNinthMission.language }}">{{ localizedNinthMission.language }}</td>
          <td>
            <div *ngIf="localizedNinthMission.mission">
              <a [routerLink]="['/entities', 'ninth-mission', localizedNinthMission.mission?.id, 'view']">{{
                localizedNinthMission.mission?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entities', 'localized-ninth-mission', localizedNinthMission.id, 'view']"
                class="btn btn-info btn-sm"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entities', 'localized-ninth-mission', localizedNinthMission.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(localizedNinthMission)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
