<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="ninthUnitMoment">
      <h2><span jhiTranslate="n42cApp.ninthUnitMoment.detail.title">Ninth Unit Moment</span> {{ ninthUnitMoment.id }}</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="n42cApp.ninthUnitMoment.current">Current</span></dt>
        <dd>
          <span>{{ ninthUnitMoment.current }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.ninthUnitMoment.sinceInstant">Since Instant</span></dt>
        <dd>
          <span>{{ ninthUnitMoment.sinceInstant }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.ninthUnitMoment.pictureUrl">Picture Url</span></dt>
        <dd>
          <span>{{ ninthUnitMoment.pictureUrl }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.ninthUnitMoment.unit">Unit</span></dt>
        <dd>
          <div *ngIf="ninthUnitMoment.unit">
            <a [routerLink]="['/ninth-unit', ninthUnitMoment.unit?.id, 'view']">{{ ninthUnitMoment.unit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ninth-unit-moment', ninthUnitMoment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
