<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ninth-unit-moment-heading" jhiTranslate="n42CApp.ninthUnitMoment.home.createOrEditLabel">Create or edit a Ninth Unit Moment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthUnitMoment.current" for="field_current">Current</label>
                    <input type="checkbox" class="form-control" name="current" id="field_current"
                           formControlName="current"/>
                    <div *ngIf="editForm.get('current')!.invalid && (editForm.get('current')!.dirty || editForm.get('current')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('current')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthUnitMoment.sinceInstant" for="field_sinceInstant">Since Instant</label>
                    <div class="d-flex">
                        <input id="field_sinceInstant" type="datetime-local" class="form-control" name="sinceInstant" formControlName="sinceInstant" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('sinceInstant')!.invalid && (editForm.get('sinceInstant')!.dirty || editForm.get('sinceInstant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sinceInstant')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sinceInstant')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthUnitMoment.pictureUrl" for="field_pictureUrl">Picture Url</label>
                    <input type="text" class="form-control" name="pictureUrl" id="field_pictureUrl"
                           formControlName="pictureUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="n42CApp.ninthUnitMoment.unit" for="field_unit">Unit</label>
                    <select class="form-control" id="field_unit" name="unit" formControlName="unit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ninthUnitOption.id === editForm.get('unit')!.value?.id ? editForm.get('unit')!.value : ninthUnitOption" *ngFor="let ninthUnitOption of ninthunits; trackBy: trackById">{{ ninthUnitOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
