@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../content/scss/global.scss';
@import '../../../content/fonts/fonts.css';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

::ng-deep .dropdown-menu {
  background-color: $color-dark;
}

::ng-deep .dropdown-item:focus,
::ng-deep .dropdown-item:active,
::ng-deep .dropdown-item:hover,
::ng-deep .dropdown-item.active,
::ng-deep .dropdown-item.active:focus,
::ng-deep .dropdown-item.active:active,
::ng-deep .dropdown-item.active:hover {
  background: fixed;
  background-color: $color-desaturated-brown;
  color: $color-off-white !important;

  a {
    color: $color-off-white !important;
  }
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: $color-black;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $orange;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 34px;
  width: 116px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-n42c.png') no-repeat center center;
  background-size: contain;
}
