<div>
    <h2 id="page-heading">
        <span jhiTranslate="n42CApp.profilePartSimpleItem.home.title">Profile Part Simple Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile-part-simple-item" [routerLink]="['/profile-part-simple-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="n42CApp.profilePartSimpleItem.home.createLabel">
            Create a new Profile Part Simple Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profilePartSimpleItems?.length === 0">
        <span jhiTranslate="n42CApp.profilePartSimpleItem.home.notFound">No profilePartSimpleItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profilePartSimpleItems && profilePartSimpleItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="n42CApp.profilePartSimpleItem.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subTitle"><span jhiTranslate="n42CApp.profilePartSimpleItem.subTitle">Sub Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="n42CApp.profilePartSimpleItem.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="n42CApp.profilePartSimpleItem.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profilePart.id"><span jhiTranslate="n42CApp.profilePartSimpleItem.profilePart">Profile Part</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let profilePartSimpleItem of profilePartSimpleItems ;trackBy: trackId">
                    <td><a [routerLink]="['/profile-part-simple-item', profilePartSimpleItem.id, 'view']">{{ profilePartSimpleItem.id }}</a></td>
                    <td>{{ profilePartSimpleItem.title }}</td>
                    <td>{{ profilePartSimpleItem.subTitle }}</td>
                    <td>{{ profilePartSimpleItem.date | date:'medium' }}</td>
                    <td>{{ profilePartSimpleItem.content }}</td>
                    <td>
                        <div *ngIf="profilePartSimpleItem.profilePart">
                            <a [routerLink]="['/profile-part', profilePartSimpleItem.profilePart?.id, 'view']" >{{ profilePartSimpleItem.profilePart?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile-part-simple-item', profilePartSimpleItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile-part-simple-item', profilePartSimpleItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profilePartSimpleItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
