<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="profilePartSkill">
      <h2><span jhiTranslate="n42cApp.profilePartSkill.detail.title">Profile Part Skill</span> {{ profilePartSkill.id }}</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt>
          <span jhiTranslate="n42cApp.profilePartSkill.name" [ngbTooltip]="'n42cApp.profilePartSkill.help.name' | translate">Name</span>
        </dt>
        <dd>
          <span>{{ profilePartSkill.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="n42cApp.profilePartSkill.index" [ngbTooltip]="'n42cApp.profilePartSkill.help.index' | translate">Index</span>
        </dt>
        <dd>
          <span>{{ profilePartSkill.index }}</span>
        </dd>
        <dt>
          <span jhiTranslate="n42cApp.profilePartSkill.level" [ngbTooltip]="'n42cApp.profilePartSkill.help.level' | translate">Level</span>
        </dt>
        <dd>
          <span jhiTranslate="{{ 'n42cApp.LevelOfMastery.' + profilePartSkill.level }}">{{ profilePartSkill.level }}</span>
        </dd>
        <dt><span jhiTranslate="n42cApp.profilePartSkill.linkedSkills">Linked Skills</span></dt>
        <dd>
          <span *ngFor="let linkedSkills of profilePartSkill.linkedSkills; let last = last">
            <a [routerLink]="['/entities', 'profile-part-linked-experience', linkedSkills?.id, 'view']">{{ linkedSkills.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="n42cApp.profilePartSkill.skillCategory">Skill Category</span></dt>
        <dd>
          <div *ngIf="profilePartSkill.skillCategory">
            <a [routerLink]="['/entities', 'profile-part-skill-category', profilePartSkill.skillCategory?.id, 'view']">{{
              profilePartSkill.skillCategory?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entities', 'profile-part-skill', profilePartSkill.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
