<div class="row justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profile-part-skill-heading" jhiTranslate="n42cApp.profilePartSkill.home.createOrEditLabel">
        Create or edit a Profile Part Skill
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.profilePartSkill.name"
            for="field_name"
            [ngbTooltip]="'n42cApp.profilePartSkill.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.profilePartSkill.index"
            for="field_index"
            [ngbTooltip]="'n42cApp.profilePartSkill.help.index' | translate"
            >Index</label
          >
          <input type="number" class="form-control" name="index" id="field_index" formControlName="index" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="n42cApp.profilePartSkill.level"
            for="field_level"
            [ngbTooltip]="'n42cApp.profilePartSkill.help.level' | translate"
            >Level</label
          >
          <select class="form-control" name="level" formControlName="level" id="field_level">
            <option value="DA">{{ 'n42cApp.LevelOfMastery.DA' | translate }}</option>
            <option value="NO">{{ 'n42cApp.LevelOfMastery.NO' | translate }}</option>
            <option value="AD">{{ 'n42cApp.LevelOfMastery.AD' | translate }}</option>
            <option value="CO">{{ 'n42cApp.LevelOfMastery.CO' | translate }}</option>
            <option value="PR">{{ 'n42cApp.LevelOfMastery.PR' | translate }}</option>
            <option value="EX">{{ 'n42cApp.LevelOfMastery.EX' | translate }}</option>
            <option value="MA">{{ 'n42cApp.LevelOfMastery.MA' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="n42cApp.profilePartSkill.linkedSkills" for="field_linkedSkills">Linked Skills</label>
          <select class="form-control" id="field_linkedSkills" multiple name="linkedSkills" formControlName="linkedSkills">
            <option
              [ngValue]="getSelected(editForm.get('linkedSkills')!.value, profilePartLinkedExperienceOption)"
              *ngFor="let profilePartLinkedExperienceOption of profilepartlinkedexperiences; trackBy: trackById"
              >{{ profilePartLinkedExperienceOption.id }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.profilePartSkill.skillCategory" for="field_skillCategory"
            >Skill Category</label
          >
          <select class="form-control" id="field_skillCategory" name="skillCategory" formControlName="skillCategory">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                profilePartSkillCategoryOption.id === editForm.get('skillCategory')!.value?.id
                  ? editForm.get('skillCategory')!.value
                  : profilePartSkillCategoryOption
              "
              *ngFor="let profilePartSkillCategoryOption of profilepartskillcategories; trackBy: trackById"
              >{{ profilePartSkillCategoryOption.id }}</option
            >
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
