<div>
    <h2 id="page-heading">
        <span jhiTranslate="n42cApp.product.home.title">Products</span>

        <button
            [routerLink]="['/entities/product/new']"
            class="btn btn-primary float-right jh-create-entity create-product"
            id="jh-create-entity"
        >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="n42cApp.product.home.createLabel">
        Create a new Product
      </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="products?.length === 0" class="alert alert-warning" id="no-result">
        <span jhiTranslate="n42cApp.product.home.notFound">No products found</span>
    </div>

    <div *ngIf="products && products.length > 0" class="table-responsive" id="entities">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr [(ascending)]="ascending" [(predicate)]="predicate" [callback]="reset.bind(this)" jhiSort>
                <th jhiSortBy="id" scope="col"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="name" scope="col"><span jhiTranslate="n42cApp.product.name">Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="shop.name" scope="col"><span jhiTranslate="n42cApp.product.shop">Shop</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0"
                   infinite-scroll>
            <tr *ngFor="let product of products; trackBy: trackId">
                <td>
                    <a [routerLink]="['/entities', 'product', product.id, 'view']">{{ product.id }}</a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    <div *ngIf="product.shop">
                        <a [routerLink]="['/entities', 'shop', product.shop?.id, 'view']">{{ product.shop?.name }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/entities', 'product', product.id, 'view']" class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button [routerLink]="['/entities', 'product', product.id, 'edit']" class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button (click)="delete(product)" class="btn btn-danger btn-sm" type="submit">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
