<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="n42cApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr/>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span [ngbTooltip]="'n42cApp.product.help.name' | translate" jhiTranslate="n42cApp.product.name">Name</span>
                </dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span jhiTranslate="n42cApp.product.authors">Authors</span></dt>
                <dd>
          <span *ngFor="let authors of product.authors; let last = last">
            <a [routerLink]="['/entities', 'app-user', authors?.id, 'view']">{{ authors.displayedName }}</a
            >{{ last ? '' : ', ' }}
          </span>
                </dd>
                <dt><span jhiTranslate="n42cApp.product.shop">Shop</span></dt>
                <dd>
                    <div *ngIf="product.shop">
                        <a [routerLink]="['/entities', 'shop', product.shop?.id, 'view']">{{ product.shop?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button (click)="previousState()" class="btn btn-info" type="submit">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button [routerLink]="['/entities', 'product', product.id, 'edit']" class="btn btn-primary" type="button">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
