<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-localized-ninth-objective-heading" jhiTranslate="n42cApp.localizedNinthObjective.home.createOrEditLabel">
        Create or edit a Localized Ninth Objective
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!editForm.get('id')!.value">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.localizedNinthObjective.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.localizedNinthObjective.description" for="field_description"
            >Description</label
          >
          <textarea class="form-control" name="description" id="field_description" formControlName="description"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.localizedNinthObjective.language" for="field_language">Language</label>
          <select class="form-control" name="language" formControlName="language" id="field_language">
            <option value="EN">{{ 'n42cApp.Language.EN' | translate }}</option>
            <option value="FR">{{ 'n42cApp.Language.FR' | translate }}</option>
            <option value="AR">{{ 'n42cApp.Language.AR' | translate }}</option>
            <option value="ZH">{{ 'n42cApp.Language.ZH' | translate }}</option>
            <option value="DA">{{ 'n42cApp.Language.DA' | translate }}</option>
            <option value="NL">{{ 'n42cApp.Language.NL' | translate }}</option>
            <option value="FI">{{ 'n42cApp.Language.FI' | translate }}</option>
            <option value="DE">{{ 'n42cApp.Language.DE' | translate }}</option>
            <option value="EL">{{ 'n42cApp.Language.EL' | translate }}</option>
            <option value="HU">{{ 'n42cApp.Language.HU' | translate }}</option>
            <option value="IS">{{ 'n42cApp.Language.IS' | translate }}</option>
            <option value="ID">{{ 'n42cApp.Language.ID' | translate }}</option>
            <option value="GA">{{ 'n42cApp.Language.GA' | translate }}</option>
            <option value="IT">{{ 'n42cApp.Language.IT' | translate }}</option>
            <option value="JA">{{ 'n42cApp.Language.JA' | translate }}</option>
            <option value="KO">{{ 'n42cApp.Language.KO' | translate }}</option>
            <option value="FA">{{ 'n42cApp.Language.FA' | translate }}</option>
            <option value="PL">{{ 'n42cApp.Language.PL' | translate }}</option>
            <option value="PT">{{ 'n42cApp.Language.PT' | translate }}</option>
            <option value="RO">{{ 'n42cApp.Language.RO' | translate }}</option>
            <option value="RU">{{ 'n42cApp.Language.RU' | translate }}</option>
            <option value="SR">{{ 'n42cApp.Language.SR' | translate }}</option>
            <option value="ES">{{ 'n42cApp.Language.ES' | translate }}</option>
            <option value="SV">{{ 'n42cApp.Language.SV' | translate }}</option>
            <option value="TR">{{ 'n42cApp.Language.TR' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('language')!.invalid && (editForm.get('language')!.dirty || editForm.get('language')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('language')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="n42cApp.localizedNinthObjective.objective" for="field_objective">Objective</label>
          <select class="form-control" id="field_objective" name="objective" formControlName="objective">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                ninthObjectiveOption.id === editForm.get('objective')!.value?.id ? editForm.get('objective')!.value : ninthObjectiveOption
              "
              *ngFor="let ninthObjectiveOption of ninthobjectives; trackBy: trackById"
              >{{ ninthObjectiveOption.id }}</option
            >
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
