<div>
  <h2 id="page-heading">
    <span jhiTranslate="n42cApp.profilePartPreciseItem.home.title">Profile Part Precise Items</span>

    <button
      id="jh-create-entity"
      class="btn btn-primary float-right jh-create-entity create-profile-part-precise-item"
      [routerLink]="['/profile-part-precise-item', 'new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="n42cApp.profilePartPreciseItem.home.createLabel">
        Create a new Profile Part Precise Item
      </span>
    </button>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="profilePartPreciseItems?.length === 0">
    <span jhiTranslate="n42cApp.profilePartPreciseItem.home.notFound">No profilePartPreciseItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="profilePartPreciseItems && profilePartPreciseItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subTitle">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.subTitle">Sub Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="start">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.start">Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="end">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.end">End</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationName">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.locationName">Location Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationLat">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.locationLat">Location Lat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationLong">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.locationLong">Location Long</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="content">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.content">Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="profilePart.id">
            <span jhiTranslate="n42cApp.profilePartPreciseItem.profilePart">Profile Part</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let profilePartPreciseItem of profilePartPreciseItems; trackBy: trackId">
          <td>
            <a [routerLink]="['/profile-part-precise-item', profilePartPreciseItem.id, 'view']">{{ profilePartPreciseItem.id }}</a>
          </td>
          <td>{{ profilePartPreciseItem.title }}</td>
          <td>{{ profilePartPreciseItem.subTitle }}</td>
          <td>{{ profilePartPreciseItem.start | date: 'medium' }}</td>
          <td>{{ profilePartPreciseItem.end | date: 'medium' }}</td>
          <td>{{ profilePartPreciseItem.locationName }}</td>
          <td>{{ profilePartPreciseItem.locationLat }}</td>
          <td>{{ profilePartPreciseItem.locationLong }}</td>
          <td>{{ profilePartPreciseItem.content }}</td>
          <td>
            <div *ngIf="profilePartPreciseItem.profilePart">
              <a [routerLink]="['/profile-part', profilePartPreciseItem.profilePart?.id, 'view']">{{
                profilePartPreciseItem.profilePart?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/profile-part-precise-item', profilePartPreciseItem.id, 'view']"
                class="btn btn-info btn-sm"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/profile-part-precise-item', profilePartPreciseItem.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(profilePartPreciseItem)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
