<div class="card jh-card">
  <div>
    <h2 id="page-heading">
      <span jhiTranslate="n42cApp.blog.home.title">Blogs</span>

      <button [routerLink]="['/blog', 'new']" class="btn btn-primary float-right jh-create-entity create-blog" id="jh-create-entity">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="n42cApp.blog.home.createLabel">
          Create a new Blog
        </span>
      </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="blogs?.length === 0" class="alert alert-warning" id="no-result">
      <span jhiTranslate="n42cApp.blog.home.notFound">No blogs found</span>
    </div>

    <div *ngIf="blogs && blogs.length > 0" class="table-responsive" id="entities">
      <table aria-describedby="page-heading" class="table table-striped">
        <thead>
          <tr [(ascending)]="ascending" [(predicate)]="predicate" [callback]="loadPage.bind(this)" jhiSort>
            <th jhiSortBy="id" scope="col">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th jhiSortBy="name" scope="col">
              <span jhiTranslate="n42cApp.blog.name">Name</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th jhiSortBy="author.displayedName" scope="col">
              <span jhiTranslate="n42cApp.blog.author">Author</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs; trackBy: trackId">
            <td>
              <a [routerLink]="['/blog', blog.id, 'post']">{{ blog.id }}</a>
            </td>
            <td>{{ getLocalizedField(blog, 'name') }}</td>
            <td>
              <div *ngIf="blog.author">
                <a [routerLink]="['/entities', 'app-user', blog.author?.id, 'view']">{{ blog.author?.displayedName }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button [routerLink]="['/blog', blog.id, 'post']" class="btn btn-info btn-sm" type="submit">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button [routerLink]="['/blog', blog.id]" class="btn btn-primary btn-sm" type="submit">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button (click)="delete(blog)" class="btn btn-danger btn-sm" type="submit">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="blogs && blogs.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [itemsPerPage]="itemsPerPage" [page]="page" [total]="totalItems"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          (pageChange)="loadPage($event)"
          [(page)]="ngbPaginationPage"
          [boundaryLinks]="true"
          [collectionSize]="totalItems"
          [maxSize]="5"
          [pageSize]="itemsPerPage"
          [rotate]="true"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
